body {
    font-family: 'Poppins', sans-serif;
    text-shadow: 0px 0px #333;
    max-width: 1280px;
    margin: 0 auto;
    background-image: url("../img/dia.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.6s ease-in-out;
}

body.modo-escuro {
    background-image:url("../img/noite.jpg");
    transition: 0.6s ease-in-out;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 25px;
}

header .logo {
    width: 40px;
}

header .logotipo {
    width: 175px;
}

header .imagem-botao {
    width: 40px;
}

header #botao-alterar-tema {
    background: none;
    border: none;
}

header .logo:hover,
header .imagem-botao:hover,
main .cartao-pokemon:hover {
    transform: scale(1.05);
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

main {
    padding: 25px;
    color: #222;
    transition: none;
}

.modo-escuro main {
    color: #f5f5f5;
}

main .listagem-pokemon {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

main .cartao-pokemon {
    background-color: #d8e3ec;
    width: 200px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    border-radius: 15px;
    box-shadow: 4px 4px 5px #333333;
}

.modo-escuro .cartao-pokemon {
    background-color: #557;
    box-shadow: 4px 4px 5px #212121;
}

main .cartao-pokemon:hover {
    background-color: #96d9d6;
    box-shadow: 3px 3px 3px #333333;
}

.modo-escuro .cartao-pokemon:hover {
    box-shadow: 3px 3px 3px #212121;
}

main .cartao-pokemon .informacoes {
    display: flex;
    justify-content: space-between;
    border: 1px solid #333333;
    border-radius: 10px;
}

main .cartao-pokemon .informacoes span {
    padding: 5px;
    text-transform: uppercase;
    font-size: 11px;
    font-family: 'Press Start 2P', cursive;
}

main .cartao-pokemon .gif {
    width: 80px;
    height: 80px;
}

main .cartao-pokemon .tipos {
    display: flex;
    gap: 8px;
    max-height: 80px;
    color: #f5f5f5;
    text-shadow: 0px 1px #000000;
    font-family: 'Press Start 2P', cursive;
    font-size: 10px;
}

main .cartao-pokemon .tipo {
    padding: 8px;
    border-radius: 10px;
    border: 3px outset #333333;
}

.grama {
    background-color: #78C850;
}

.veneno {
    background-color: #A040A0;
}

.fogo {
    background-color: #F08030;
}

.agua {
    background-color: #6890F0;
}

.inseto {
    background-color: #A8B820;
}

.voador {
    background-color: #a890f0;
}

.dragao {
    background-color: #7038F8;
}

.normal {
    background-color: #A8A878;
}

.eletrico {
    background-color: #F8D030;
}

.terra {
    background-color: #E0C068;
}

.fada {
    background-color: #EE99AC;
}

.lutador {
    background-color: #C03028;
}

.psiquico {
    background-color: #F85888;
}

.pedra {
    background-color: #B8A038;
}

.metal {
    background-color: #B8B8D0;
}

.gelo {
    background-color: #98D8D8;
}

.fantasma {
    background-color: #705898;
}

.noturno {
    background-color: #705848;
}

main .descricao {
    max-height: 80px;
    overflow-y: scroll;
    font-size: 14px;
    padding-right: 10px;
}